
@model Activos.Models.tbUsuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/Content/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Activos</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"> @Session["FullName"].ToString()</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item ">
                    <a href="@Url.Action("Index", "Home")" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Inicio
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-business-time"></i>
                        <p>
                            Reportes
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Reportes")" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Activos por fechas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ReporteNoActivos", "Reportes")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Activos Bajados</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ReporteActivos", "Reportes")" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Activos No Bajados</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-business-time"></i>
                        <p>
                            Activos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "DepreciacionActivos")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Activos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "VidaUtil")" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Vida Util</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-person-booth"></i>
                        <p>
                            General
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Clientes")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>
                            Acceso
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Usuarios")" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>
                        Detalle Usuarios
                    </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>

                        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Usuarios")">Usuarios</a></li>

                        <li class="breadcrumb-item active">Detalle Usuario</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="container-fluid">
        <!-- Default box -->
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6  d-flex justify-content-center">
                        <b>Nombre del Usuario: </b>
                        @Html.DisplayFor(model => model.usua_UsuarioNombre)
                    </div>
                    <div class="col-sm-6  d-flex justify-content-center">
                        <b>Apellido del Usuario: </b>
                        @Html.DisplayFor(model => model.usua_UsuarioApellido)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6  d-flex justify-content-center">
                        <b>Nombre de usuario del sistema: </b>
                        @Html.DisplayFor(model => model.usua_Usuario)
                    </div>
                </div>
                <div class="row">
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    Auditoría
                                </h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Accion
                                            </th>
                                            <th>
                                                Usuario
                                            </th>
                                            <th>
                                                Fecha
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Creado
                                            </td>
                                            <td>
                                                @Session["UsuarioCrea"].ToString()
                                            </td>
                                            <td>
                                                @Session["FechaCreUsua"].ToString()
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Modificado
                                            </td>
                                            <td>
                                                @Session["UsuarioMod"].ToString()
                                            </td>
                                            <td>
                                                @Session["FechaModUsua"].ToString()
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 d-flex justify-content-center">
                        <a class="btn btn-default btn-sm" href="@Url.Action("Index", "Usuarios")">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-arrow-left"></span>
                                </span>
                                <div class="col-sm-1"></div>
                                <span class="nav-link-text ps-1">Regresar</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

